/* RESET CSS */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


/* BODY */

body {
  background-image: url(./coffee-shop-background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 0, 0, 0.477); */
  backdrop-filter: blur(2px);
  backdrop-filter: brightness(50%);
}

/* HEADER */

header {
  height: 80px;
  padding: 0 4rem;

  display: flex;
  align-items: center;
}

header nav {
  margin-left: auto;
  display: flex;
  height: 100%;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
}

header .logo {
  color: rgb(255, 255, 255);
  font-size: 24px;
}

nav button {
  color: white;
  border: none;
  background: none;
  padding: 0 1rem;

  text-decoration: underline;
  cursor: pointer;
}

nav button:hover,
.creds a:hover {
  text-decoration: none;
}

/* CONTENT */

#content {
  flex: 1;
  padding: 2rem 10rem;
}

#content h1 {
  color: white;
  font-size: 128px;
}
/* FOOTER */

footer {
  display: flex;
  justify-content: center;
}

.credits,
.credits a {
  color: rgb(0, 0, 0);
}