/* RESET CSS */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


/* BODY */

body {
  background-image: url(./img/coffee-shop-background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(0, 0, 0, 0.477); */
  backdrop-filter: blur(2px);
  backdrop-filter: brightness(50%);
  color: rgb(235, 235, 235);
}

/* HEADER */

header {
  height: 80px;
  padding: 0 4rem;

  display: flex;
  align-items: center;
}

header nav {
  margin-left: auto;
  display: flex;
  height: 100%;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
}

header .logo {
  color: rgb(255, 255, 255);
  font-size: 24px;
}

nav button {
  color: white;
  border: none;
  background: none;
  padding: 0 1rem;

  text-decoration: underline 1px white;
  text-underline-offset: 4px;
  cursor: pointer;
}

.current-page {
  text-decoration: underline 4px #68a07c;
}

nav button:hover,
.creds a:hover {
  text-decoration: none;
}

/* CONTENT HOME PAGE */

#content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 10rem;
}

#content .hero-text {
  font-size: 120px;
  line-height: 95%;
  width: 100%;
}

#content .hero-subtext {
  font-size: 26px;
  margin-top: 16px;
}

#content .location {
  font-size: 16px;
  margin-top: 2rem;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
}

.credits {
  color: rgb(0, 0, 0);
}

/* CONTENT DRINKS PAGE */

.drinks-heading {
  color: black;
  color: white;
  width: fit-content;
  background-color: #34503e;
  padding: 0 1rem;
  text-transform: uppercase;
  font-size: 48px;
}

#content.drinks {
  background-color: #EBEBEB;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 3rem; */
}

.drinks-grid {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 4rem;
  margin: 3rem 0;
}

.item-wrapper {
  width: 200px;
  height: 280px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  color: black;
  border-radius: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.5rem;
  gap: 1rem;
  align-self: center;
  align-items: center;
  text-align: center;

  transition: .1s;
}

.item-wrapper:hover {
  scale: 1.07;
  background-color: #34503e;
  color: white;
}

.item-image {
  width: 200px;
  border-radius: 15px;
  border: 2px solid white;
}

.item-name {
  font-size: 18px;
}

.item-price {
  font-size: 14px;
}

footer.drinks {
  background-color: white;
}